.btn-primary {
    @apply py-2.5 px-3 rounded-lg transition-all duration-200;
    background: linear-gradient(133.47deg, #2E59DA 11.26%, #7E4CE3 89.23%);
}
.btn-primary:hover {
    @apply transition-all duration-200;
    background: linear-gradient(133.47deg, #103194 11.26%, #5f37ad 89.23%);
}
.btn-outlined {
    @apply py-2.5 px-3 rounded-lg border border-purple-600 hover:bg-purple-700;
   
}

/* nav button */
.nav-button {
    position: relative;
    height: 22px;
    width: 22px;
    padding: 10px;
}
.nav-button::before {
    content: '';
    top: 20%;
    right: 0;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    transform-origin: center;
    @apply transition-transform;
}
.nav-button::after {
    content: '';
    bottom: 20%;
    right: 0;
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: white;
    transform-origin: center;
    @apply transition-transform;
    
}

.navclose::before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    @apply transition-transform;
   
}
.navclose::after {
    top: 50%;
    width: 100%;
    transform: translateY(-50%) rotate(45deg);
    @apply transition-transform;
}