.navclose::before {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    @apply transition-transform;
   
}
.navclose::after {
    top: 50%;
    width: 100%;
    transform: translateY(-50%) rotate(45deg);
    @apply transition-transform;
}